@charset "utf-8";

.revealbga{position:fixed;top:0;left:0;bottom:0;right:0;width:100%;height:100%;padding-top:40px;background:#000;background:rgba(0,0,0,.5);z-index:99999;display:none;}
.dezxails{position:absolute;top:50px;left:50%;margin-left:-236px;width:460px;background:#fff;border:5px solid #d4d4d4;z-index:4;}
.dezxails p{margin:5px auto;width:435px;height:45px;padding-left:15px;line-height:45px;background:#ededed;color:#999;font-size:24px;}
.dezxails p span{color:#999;font-size:24px;cursor: pointer; }
.dezxails p span.cur_tab{ color:#555; }

.dezxails p label{float:left;padding:0 0 0 20px;color:#999;font-size:14px;}
.dezxails p kbd{float:right;padding:7px 10px 0 0;}
.goRegist{ text-align: center; line-height:26px;}
.dezxails p a{margin-left:10px;color:#f40;font-size:14px;text-decoration:underline;}
.dezxails ul{width:420px;margin:26px auto 0;padding-left:30px;display:none;}
.dezxails ul li{display:block;position:relative;font-size:14px;color:#555;}
.dezxails dl{width:390px;padding:0 25px 0 35px;height:45px;}
.dezxails dl dd{font-size:14px;}
.dezxails dl dd a{font-size:14px;color:#333;}
.dezxails dl dd a.red{color:#f40;}
.dezxails dl dd input{margin:-3px 10px 0 0;*+margin-top:0;vertical-align:middle;}
.dezxails samp{margin-left:90px;text-align:center;}
.dezxails samp a{display:inline-block;width:282px;height:42px;background:#ff4400;line-height:42px;font-size:18px;color:#fff;border-radius:3px;}
.dezxails samp a:hover{background:#fd5b0c;}
.dezxails ol{margin-top:15px;height:37px;padding:18px 0 0 135px;background:#ededed;}
.dezxails ol li{float:left;}
.dezxails ol li a{font-size:14px;color:#000;line-height:22px;}
.dezxails ol li i{display:inline-block;width:15px;height:16px;background:url(/mt/imp/QQ.png) no-repeat;vertical-align:middle;}
.dezxails ol li i.sina{display:inline-block;margin:-2px 4px 0 25px;width:16px;height:16px;background:url(/mt/imp/sina.png) no-repeat;vertical-align:middle;}
.FancyF li i{position:absolute;top:39px;left:5px;width:14px;height:18px;background-position:-792px -504px;z-index:999;}
.FancyF li i.password{left:6px;background-position:-824px -504px;*+background-position:-824px -500px;}
.FancyF li i.red_star{top:46px;left:14px;background-position:-832px -544px;}
.FancyF li .sendm{position:absolute;top:35px;right:-15px;z-index:10;}
.FancyF li .sendm a{display:inline-block;width:96px;height:26px;line-height:26px;background-position:-712px -544px;color:#000;text-align:center;}
.FancyF input{position:relative;margin:9px 0 17px;padding-left:5%;width:95%;height:38px;line-height:38px;border-radius:5px;color:#000;}
.FancyF label{position:absolute;z-index:2;top:39px;left:24px;display:block;color:#BCBCBC;cursor:text;font-size:14px;}
.FancyF .val label{left:-9999px;opacity:0!important;filter:alpha(opacity="0")!important;}
.FancyF input[type=text],.FancyF input[type=password],.FancyF textarea{position:relative;z-index:3;display:block;width:87.5%;background:url(/Skin/member/images/transparent_bg2.png);border:1px solid #eaeaea;}
.FancyF input[type=text]:focus+label,.FancyF input[type=password]:focus+label,.FancyF textarea:focus+label{opacity:.5;filter:alpha(opacity="50");}
.FancyF textarea{min-height:3.95em;line-height:1.3}
.FancyF .fff{width:390px;position:absolute;z-index:1;top:28px;right:0;left:0;height:38px;line-height:38px;background-color:#fff;
    border:1px solid #eaeaea;border-radius:5px;background:#fff;-webkit-box-shadow:0 0 5px #e9e9e9 inset;-moz-box-shadow:0 0 5px #e9e9e9 inset;box-shadow:0 0 5px #e9e9e9 inset;}
.FancyForm3 .fff{top:0;}
.FancyForm3 label{top:11px;}
.FancyF .fffw1{ width:270px; }
.FancyF .fffw1+input{ width:247px; }
.img_code{ position: absolute; left:280px; width:64px; height:28px; top:6px; }
.img_code img{width:100px; height:38px;}
.change_img_code{ position: absolute; right:28px;top:16px; }
.FancyF .send_msg{ position: absolute; right:28px;height:38px;line-height:36px; cursor: pointer;border-radius:3px; background: #0080ff; text-align: center; font-size:14px; color:#fff; top:0; width:110px; border:none; padding:0; margin: 0; top:1px;}

/* CSS Document */
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dd,dt,menu,table,caption,colgroup,col,thead,tbody,tfoot,tr,th,td,menu,blockquote,hr,pre,q,address,iframe,map,area,b,i,del,ins,span,a,em,strong,form,legend,fieldset,input,button,label,select,optgroup,option,textarea,object,param,var,article,aside,audio,bdi,canvas,command,datalist,details,embed,fiqure,fiqcaption,header,footer,hgroup,keyqen,mark,meter,nav,output,progress,rp,rt,ruby,section,source,summary,time,track,video{margin:0;padding:0;background:transparent;outline:0;font-size:12px;font-family:"Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","微软雅黑",'Segoe UI',Tahoma,"宋体b8b\4f53",SimSun,sans-serif;}
html,body{height:100%;color:#333; min-width:1210px;}
ul,ol,li{list-style:none outside none}
fieldset,em{border:0 none;font-style:normal}
table{border-collapse:collapse}
a img{border:0 none}
a:link,a:hover,a:active,a:visited{text-decoration:none;color:#f56140;}
/*a:hover{text-decoration:underline}*/
a:focus{font-style:inherit}
p:before,p:after{display:none;content:".";font-size:0}
input[text],input[button],input[checkbox],input[password]{background:#fff}
input[radio],input[checkbox],input[reset],input[submit]{border:0 none}
textarea{ resize:none;}
.clear{clear:both;margin:0;padding:0;font-size:0;line-height:0;visibility:hidden}
/*.clear{clear:both;margin:0;padding:0;font-size:0;line-height:0;visibility:hidden}*/
.clearfix:after{content:".";clear:both;display:block;height:0;font-size:0}
.cf:before,.cf:after{content:".";display:table}
.cf:after{clear:both}
.hide{overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;visibility:hidden}
.clearfix{*zoom:1;}.clearfix:after{display:block;content:"clear";height:0; clear:both;overflow:hidden;visibility:hidden;}
i{display:inline-block;}
.fl{float:left;}
.f1{float:left;}
.fr{float:right;}
.mai-ico{background:url(../mt/imp/bg.png) no-repeat;}
.font_14{font:normal 14px Microsoft YaHei;}
.font_16{font:normal 16px Microsoft YaHei;}
.font_18{font:normal 18px Microsoft YaHei;color:#f40;}
.float_l {float: left;}
.float_r {float: right;}
/***
	Header***/
.maitian-header{height:60px;background:#f56140; box-shadow:0 0px 5px #888; min-width:1210px;}
.nav-wrap{margin:0 auto;width:1210px;height:60px;}
.nav-wrap ul li{float:left;margin-right: 1px;height:60px;}
.nav-wrap ul li.city{margin:15px 0px 0 20px; height:30px;}
.nav-wrap ul li.city:hover{background:none}
.nav-wrap ul li.city a.show {display: block; width: 51px; height: 30px; background: url(../mt/imp/header_city.png); padding:0 0 0 9px; color: #fff;}
.nav-wrap ul li.city .filter_sel{ width:60px; height:105px;}
.nav-wrap ul li.city .filter_select{ margin-right:0;}
.nav-wrap ul li.city .filter_sel li{ float: none; }
.nav-wrap ul li.city .filter_sel li a{ color:#666; font-size:14px;}
.nav-wrap ul li.city .filter_sel li.active a{ color:#fff;}
.nav-wrap ul li.city .filter_sel li a{padding:0; line-height:35px; background: none; display:block; height:35px}
.nav-wrap ul li.logo a{padding:0;line-height:0;display: block;}
.nav-wrap ul li.logo a:hover,.nav-wrap ul li.logo:hover{background:none;}
.nav-wrap ul li a{display:inline-block;padding:0 18px;line-height:60px;color:#fff;font-size:16px; height:60px;}
.nav-wrap ul li a:hover{}
.nav-wrap ul li a.bg:link,.nav-wrap ul li a.bg:hover,.nav-wrap ul li a.bg:visited,.nav-wrap ul li a.bg:active{display:inline-block;padding:0 18px;line-height:60px;color:#fff;font-size:16px;background:url(../mt/imp/header_sel_bg.png) repeat;}
.nav-wrap .about a.none {display: none};
.nav-wrap .about{height:60px;color:#fff;font-size:14px}
.nav-wrap .about p{padding-top:11px;padding-bottom:5px;}
.nav-wrap .about a{float:right;display:inline-block;color:#fff}
.nav-wrap .about a.out {padding-left: 15px}
.nav-wrap .about a:hover{text-decoration:underline}
.nav-wrap .about .know{padding-left:15px;color:#fff}
.nav-wrap .about .reg{padding-right:24px}
.nav-wrap .about h3{display:block;font-weight:normal;color: #fff}

.header_select .filter_select em{ top:28px;background: url(../mt/imp/arrow_drop2.png) no-repeat;}
.nav-wrap ul li.header_select a.show{padding:0 4px 0 18px;display:inline-block;line-height:60px;color:#fff;font-size:16px; height:60px;}
.header_select .filter_select .filter_sel{ top:56px; height:100px; width:80px;}
.header_select .filter_select .filter_sel li{
    text-align: center;
    float:none;
    padding:0;
}
.header_select .filter_select .filter_sel a{ color:#666; height:30px; line-height:30px; font-size:14px; padding:0; display:block;}

.header_select .filter_select .filter_sel .active a{
    color:#fff;
}
/** 自定义下拉框滚动条样式 **/
.header_select .selectBox{ height:60px;}
.city .selectBox{ padding-right:16px;}
.filter_select {position: relative;display: inline-block; padding-right:28px; *zoom: 1;*display: inline;height:30px;text-align: center;font-weight: normal;}
.filter_select .show{float: left; height:30px; overflow: hidden; padding:0 2px; font-size: 16px;text-align: left; line-height:30px; font-size:12px; color:#333;}
.filter_select em {    position: absolute;    top:13px;    right:14px;    width: 10px;    height: 6px;    background: url(../mt/imp/arrow_drop.png) no-repeat;}
.filter_sel {position: absolute;top:30px;left: 0px;width: 100px;height: 200px;border: 1px solid #ededed;box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);border-radius: 5px;background: #fff;z-index: 9999;display: none;overflow: hidden;}
.filter_sel ul li {display: block;height: 35px; line-height:35px;font-size: 14px;color: #666;overflow: hidden;text-align: left;background: #fff;cursor: pointer;padding-left: 15px;}
.filter_sel .active {background: #f78166;color: #fff;}
.filter_options .filter_sel ul li,.filter_options .filter_sel ul{ float:none; margin:0;}
.filter_select_box label{ width:50px; margin:0; line-height:30px;}



/***
	bottom_five***/
/*.bottom_five{margin-top:10px;height:140px;background:#f8711a;}
.bottom_five ul{margin:0 auto;width:1190px;}
.bottom_five ul li{margin-right:121px;float:left;text-align:center;}
.bottom_five ul li.last{margin:0;}
.bottom_five ul li p{color:#fff;}
.bottom_five ul li i a{margin:17px 0 10px 0;display:inline-block;width:80px;height:80px;}
.bottom_five ul li i a.one{background-position:0 -184px;}
.bottom_five ul li i a.two{background-position:-104px -184px;}
.bottom_five ul li i a.three{background-position:-208px -184px;}
.bottom_five ul li i a.four{background-position:0 -288px;}
.bottom_five ul li i a.five{background-position:-104px -288px;}*/

/***
	footer***/
.footer{background:#333;padding:40px 0}
.fotcon{width:960px;margin:0 auto}
.fotl{width:693px;overflow:hidden;border-right:1px solid #666}
.fotl dl{line-height:20px;padding-bottom:36px}
.fotl dl dt{width:112px;color:#999;font-size:14px}
.fotl dl dd{width:536px}
.fotl dl dd a{float:left;padding:0 9px;color:#999;font-size:14px}
.fotl dl dd a:hover{text-decoration:underline}
.fotl ul{margin-left:-8px;padding:38px 0 18px}
.fotl ul li{float:left;line-height:17px;padding:0 8px;border-right:1px solid #5b5b5b;border-left:1px solid #666}
.fotl ul .last{border-right:none}
.fotl ul li a{font-size:14px;color:#ccc}
.fotl ul li a:hover{text-decoration:underline}
.fotl>p{font-size:12px;color:#666}
.fotr{width:266px;text-align:center}
.fotr p{padding:10px 0 20px;color:#fff;line-height:23px;font-size:20px}
.fotr img{width:150px;height:150px}


/***
	paging***/
.paging{margin:33px auto 30px;width:100%;text-align:center;}
.paging a{display:inline-block;padding:8px 15px;font-size:14px;border:1px solid #d5d4d4;color:#333; cursor:pointer;}
.paging a:hover{background:#f86000;color:#fff;border:1px solid #f86000;}
.paging a.on{background:#f86000;color:#fff;border:1px solid #f86000; cursor:default;}
.paging a.up_page{margin-right:1px;}
.paging a.up_page:hover,.paging a.down_page:hover{background:#fff;color:#333;border:1px solid #ccc;}
.paging a.up_page i{display:inline-block;margin-right:4px;width:6px;height:9px;vertical-align:middle;background-position:-546px -40px;}
.paging a.down_page{margin-left:1px;}
.paging a.down_page i{display:inline-block;margin-left:4px;width:6px;height:9px;vertical-align:middle;background-position:-530px -40px;}

/***
	Search***/
.esf_list_search{position:relative;margin:0 auto;width:1130px;z-index:10;}
.so_search{position:relative;margin:20px 0;position:relative;z-index:2;}
.so_search input.txt{border-bottom-left-radius: 5px;
    border-color: #f56140;
    border-image: none;
    border-style: solid;
    border-top-left-radius: 5px;
    border-width: 1px 0 1px 1px;
    color: #9c9c9c;
    float: left;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    width: 613px;}
.so_search input.txt_agent{float:left;margin-right:10px;padding-left:10px;width:651px;height:35px;line-height:35px;border:1px solid #d9d9d9;border-radius:3px;color:#999;}
.so_search input.but{background: #f56140 url("../mt/imp/bg.png") no-repeat scroll -309px 8px; border: none; border-radius: 0 5px 5px 0;cursor: pointer; float: left;height: 37px; width: 62px;}
.so_search label{position:relative;float:left;display:inline-block;width:27px;height:35px;border:solid #d9d9d9;border-width:1px 1px 1px 0;border-top-right-radius:3px;border-bottom-right-radius:3px;cursor:pointer;margin-right:13px;}
.so_search .dingding .xuxu,.so_search label kbd{display:none;}
.so_search .dingding:hover .xuxu{display:block;position:absolute;top:35px;left:500px;padding:1px;width:auto;border:1px solid #e3e2e1;background:#fff;box-shadow:0 0 10px #d2d1d0;-webkit-box-shadow:0 0 10px #d2d1d0;-moz-box-shadow:0 0 10px #d2d1d0;}
.so_search .dingding:hover .xuxu ul li.red{padding:0;height:33px;background:#f86000;line-height:33px;color:#fff;text-indent:6px;font-family:Microsoft YaHei;cursor:default;border:none;*+position:absolute;*+left:0;*+right:0;}
.so_search .dingding:hover .xuxu ul li{width:auto;border-bottom:1px dashed #f8f7f7;}
.so_search .dingding:hover .xuxu ul li a{display:inline-block;padding:0 5px;line-height:31px;color:#888;}
.so_search .dingding:hover .xuxu ul li a i{display:inline-block;width:0;height:0;border-top:5px solid #fff;border-left:5px solid #d7cecb;border-right:5px solid #fff;border-bottom:5px solid #fff;vertical-align:middle;}
.so_search .dingding:hover kbd{display:inline-block;position:absolute;display:inline-block;top:28px;left:5px;width:14px;height:8px;background-position:-456px 0;z-index:1;}
.so_search .dingding label span{display:inline-block;margin:11px 0 0 4px;width:16px;height:16px;border-radius:50%;background:#f86000;text-align:center;color:#fff;font-family:Microsoft YaHei;}
.so_search p{float:left;padding:10px 0 0 24px;color:#9c9c9c;}
.so_search p span{color:#0074e4;}
.so_search p span a{color:#0074e4;}
/***
	 condition***/
.screening_2{position:relative;z-index:1;padding-bottom:20px; /*overflow:hidden;*/}
.screening_2 label{display:inline-block;float:left;font-size:12px;color:#888;line-height:30px;}
.screening_2 ul li{position:relative;left:20px;float:left;margin:0px 30px 0 -11px;padding:3px 3px 3px 8px;line-height:22px;border:1px solid #fda56b; max-width:870px;}
.screening_2 ul li i { position:absolute;right:4px;top:4px;}
.screening_2 ul li i a{display:inline-block;margin-left:8px;width:22px;height:22px;background-position:-424px -40px;vertical-align:middle}
.screening_2 ul li span{vertical-align:middle; padding-right:30px;}
.screening_2 ul li kbd{position:absolute;top:7px;left:-10px;display:inline-block;width:10px;height:15px;background-position:-400px -40px;}
.screening_2 dl{float:left;margin-left:-10px;}
.screening_2 dl dd{position:relative;float:left;margin-right:10px;}
.screening_2 dl dd a.blue_tj:link,.screening_2 dl dd a.blue_tj:hover,.screening_2 dl dd a.blue_tj:visited{display:inline-block;margin-left:10px;width:114px;height:30px;line-height:30px;background:#f56140;color:#fff;text-align:center;border-radius:5px;font-family:Microsoft YaHei;}
.screening_2 dl dd i{margin-top:7px;display:inline-block;width:20px;height:20px;background-position:-464px -40px;vertical-align:middle}
.screening_2 dl dd p,.screening_2 dl dd kbd{display:none;}
.screening_2 dl dd:hover p{display:block;position:absolute;top:0;left:0;}
.screening_2 dl dd:hover p a{color:#888;display:inline-block;width:90px;height:30px;text-align:right;line-height:30px;overflow:hidden;}
.screening_2 dl dd:hover kbd{display:block;position:absolute;right:-134px;top:-11px;padding:6px 0 0 20px;width:129px;height:53px;line-height:20px;z-index:1;background-position:-400px -72px;font-family:Microsoft YaHei;}
.screening_2 dl dd.dista{margin-left:10px;}


/***
	no_home***/
.no_home{padding:100px 0 100px 100px;color:#888;font-size:18px;text-align: center;}
.no_home span{color:#f40;font-size:18px;}
.no_home i{margin-right:30px;display:inline-block;width:80px;height:80px;background-position:-934px 0;vertical-align:middle;}

.map .no_home{padding:30px;color:#888;font-size:18px; text-align: center; line-height:38px;}
.map .no_home span{color:#f40;font-size:18px;}


#SearchTips li { height: 31px;}
#SearchTips li a { line-height:31px;padding-left: 10px;color:#333; display:block;overflow:hidden; text-overflow:ellipsis;white-space:nowrap;}
#SearchTips li a span {font-size:12px;}
#SearchTips li a .left {color:#333;}
#SearchTips li a .leftRegion {margin-left: 10px;color:#999;font-size: 12px;}
#SearchTips li a .right {color:#000;margin-left: 400px;}




/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
.reveal-modal-bg{position:fixed;height:100%;width:100%;background:#000;background:rgba(0,0,0,.3);z-index:100;display:none;top:0;left:0;z-index:100;}
.reveal-modal{visibility:hidden;top:0!important;left:50%;margin-left:-450px;width:900px;position:fixed;z-index:101;padding:0 40px;}
.reveal-modal .close-reveal-modal{position:absolute;top:8px;right:75px;display:inline-block;width:32px;height:32px;cursor:pointer;background-position:-1040px 0;z-index:101;}

.rightn_zc{position:absolute;top:0;right:0;z-index:9999;}


/*	--------------------------------------------------
	VIP ICO
	-------------------------------------------------- */
.vip-ico {position: absolute;top: 28px;left: -2px;width: 76px;height: 75px;z-index: 1;background-position: -1083px -416px;}


/* 房源标签  福厦开始 */
.morel mark{ line-height:17px; padding: 0 3px; border-radius:2px; margin:10px 0 0 0; font-size:12px;display: inline-block;}
.morel mark.blue,.morel mark.english,.morel mark.decorate,.morel mark.smallqu,.morel mark.geomancy{ border:1px solid #0066cc; color:#0066cc;}
.morel mark.green,.morel mark.district,.morel mark.business,.morel mark.financing,.morel mark.specialist,.morel mark.investment{ border:1px solid #009900; color:#009900;}
.morel mark.red,.morel mark.household{ border:1px solid #cc0000; color:#cc0000;}
.morel mark.alone{ border:1px solid #cc0000; color:#cc0000;}

.morel mark.sole{ border:1px solid #cc0000; color:#cc0000;}
.morel mark.yellow{ border:1px solid #009900; color:#009900;}
.morel mark.carport{ border:1px solid #cc0000; color:#cc0000;}
.morel mark.terrace{ border:1px solid #009900; color:#009900;}
.morel mark.window{ border:1px solid #0066cc; color:#0066cc;}
.morel mark.black{ border:1px solid #0066cc; color:#0066cc;}
/* 房源标签  福厦结束 */

/**/
.search_result{ height:54px; line-height:80px; font-size:18px; font-weight:bold;}
.search_result span{ color:#f56140; padding:0 6px; font-size:18px;}


/*IM*/
.IM_btn i,.sale_points_author h6 span.IM_btn i{display:inline-block;margin:-3px 5px 0;width:17px;height:16px;background:url(../mt/imp/maitianim_btn.png);vertical-align:middle;}
.hc_right .IM_btn,.IM_btn,.sale_points_author h6 span.IM_btn{ vertical-align:middle;padding-left:0!important;width:76px; background:#f66f51; height:32px; font:normal 16px/32px Arial;border-radius:3px;color:#fff!important;display:inline-block;text-align:center;cursor:pointer;overflow:hidden; }
.hc_right span.IM_btn{margin-top:10px;}
.IM_btn_min .IM_btn,.sale_points_author h6.IM_btn_min .IM_btn{width:63px!important;height:26px!important;font:normal 14px/26px Arial!important;}
.IM_btn_min .IM_btn i,.sale_points_author h6.IM_btn_min .IM_btn i{margin:-1px 3px 0 0;}
.sale_points_author h6 span{vertical-align:middle;}
.IM_btn_a{display:inline-block;margin:0px 5px 0;width:18px;height:16px;background:url(../mt/imp/maitianim.png);vertical-align:middle;}