@charset "utf-8";
/* CSS Document */
.banner_download{ height:602px;}
.bancon{ width:900px; margin:0 auto;}
.app_tit{ font-size:90px;text-shadow: 0 0 10px rgba(0,0,0,.3); color:#fff;line-height: 150px; }
.bancon{ padding-top:148px;}
.download_box{ width: 440px;}
.phone_pic{ width:460px; height:601px; margin-top:-30px; background:url("../mt/imp/phone_pic.gif") no-repeat;}
.fl{ float:left;}
.fr{ float:right;}
.download_btns_box{ width: 218px; text-align: center;}
.download_btns_box p{ color:#fff; text-shadow: 0 0 10px rgba(0,0,0,.3);}
.download_android_tit,.download_ios_tit{ font-size: 18px;margin-top:30px;}
.download_android_tip,.download_ios_tip{ font-size: 12px;margin-bottom:4px;}
.download_btns_box a{ display: block; text-align: left; padding-left:10px; color:#fff; font-size:18px; margin:24px 0 0; outline: none; cursor:pointer;width: 190px;height: 60px; line-height: 60px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;background-color: #f56140;
-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.3);
-moz-box-shadow: 0 5px 10px rgba(0,0,0,.3);
box-shadow: 0 5px 10px rgba(0,0,0,.3);
background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.1), rgba(255,255,255,.1));
background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.1), rgba(255,255,255,.1));
background-image: -o-linear-gradient(bottom, rgba(0,0,0,.1), rgba(255,255,255,.1));
background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.1), rgba(255,255,255,.1));
background-image: linear-gradient(to top, rgba(0,0,0,.1), rgba(255,255,255,.1));}
.download_btns_box a span{ display: inline-block; height: 60px;line-height: 56px; padding-left: 10px; cursor:pointer; vertical-align: middle;}
.download_btns_box a em{ display: inline-block; width:30px; height:60px;background:url("../mt/imp/ia.png") left center no-repeat; vertical-align: middle;}
.download_btns_box a em.Android{ background-position: right center;}
.download_code{ text-align: center; margin-top:20px; width: 150px; border-radius:5px; background: #df4b2a; overflow: hidden;-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.3);-moz-box-shadow: 0 5px 10px rgba(0,0,0,.3);box-shadow: 0 5px 10px rgba(0,0,0,.3);}
.download_code img{ width:150px; height:150px; display: block;}
.download_code p{ line-height:62px; height:62px; font-size: 14px; color:#fff; text-shadow: 0 0 10px rgba(0,0,0,.3);}

.footer{ background: #fff; padding-top:128px; padding-bottom: 0;}
.function_box{width: 995px; overflow: hidden;}
.app_function{ width: 996px; padding-bottom: 28px;}
.app_function li{ color:#999; float:left; text-align: center; width: 248px; height:148px; border-right:1px solid #cfcfcf;}
.app_function li p.fun_icon img{ display: block; height:47px; padding-bottom: 25px; width:50px; height:46px; margin:0 auto;}
.app_function li h6{ font-size:18px; line-height: 28px; color: #f56140;}
.app_function li p{ font-size: 14px; line-height: 24px;}
.copyright{ color:#ccc; font-size: 14px; line-height:76px; text-align: center;}











