@charset "utf-8";

.main{float:right;width:842px;}
.fixed{ float:left;width:320px;background:#fff;z-index:1; top:0;}

/* esf_list CSS Document */
.esf_list{position:relative;margin:0 auto;width:1130px;}
.list_left{position:relative;width:1130px;background:#fff;}
.nav_fixed{position:fixed;top:0px;}

/***
	condition***/
.condition{width:1128px;border:1px solid #eaeaea;padding:0 0 16px;}.channel_nav{height:38px;}
.channel_nav ul{ height:38px;}
.channel_nav ul li{float:left;}
.channel_nav ul li a{position:relative;width:106px;display:inline-block;font-size:14px;line-height:38px;color:#333;text-align:center;border:1px solid #eaeaea;border-width:1px 0 0px 1px;}
.channel_nav ul li a.last{ border-right:1px solid #eaeaea;}
.channel_nav ul li a:hover{color:#f56140}
/*.channel_nav ul li a:hover{margin-top:-1px;border-top:2px solid #0074e4;line-height:36px;height:38px;color:#0074e4;border-bottom:none}
*/.channel_nav ul li a i{display:none;}
.channel_nav ul li a:hover i{display:block;position:absolute;left:50%;margin-left:-5px;bottom:0;display:inline-block;width:0;height:0;border-left:5px solid #f9f9f9;border-right:5px solid #f9f9f9;border-bottom:5px solid #0074e4;}
.channel_nav ul li a.bg{border-top:2px solid #f56140;line-height:36px;height:38px;color:#f56140;border-bottom:none; background:#fff;}




.filter_options{margin-top:13px;}
.filter_options ol{padding:1px;}
/*.filter_options:hover ol{position:relative;z-index:99;padding:0 0 0 0;border:solid #fff;border-width:1px 0 1px 1px;border-right:1px solid #fff;width:316px;}*/
.filter_options label{float:left;margin:4px 0;width:77px;padding-left:20px;}
.filter_options label.one{margin-top:10px;}
/*.filter_options label a:link,*/.filter_options label a{display:inline-block;margin:0 4.5px;padding:0 2px;height:18px;line-height:18px;color:#333;}
.filter_options label a:hover{background:#f56140;color:#fff;}
.filter_options label a.bg{padding:0 2px;display:inline-block;background:#f56140;color:#fff;}
.filter_options ul{float:left;}
.filter_options ul li{float:left;margin:4px 0;}
.filter_options ul.three li{float:left;margin:4px 0;width:76px;}
.filter_options .input_section{ float:left; padding-left:12px; color:#333; line-height: 20px; vertical-align:middle; padding-top:2px;}
.filter_options .input_section input{ height:11px; line-height: 11px; padding:3px 6px; border:1px solid #e8e8e8; width: 46px; vertical-align:middle;}
.filter_options .input_section button{ display:none; margin-left:18px; width:33px; height: 19px; line-height: 14px; border:1px solid #f56140; text-align:center; cursor:pointer; color:#f56140; background:#fff; vertical-align:middle;}
.filter_options ul a:link,.filter_options ul a:visited{display:inline-block;margin:0;padding:0 8px;height:18px;line-height:18px;color:#333;}
.filter_options ul a:hover{background:#f56140;color:#fff;}
.filter_options ul a.bg{padding:0 2px;display:inline-block;background:#f56140;color:#fff;}

.filter_options .panesa{display:none;}
/*.filter_options:hover .panesa{display:block;}*/
.filter_options .panex{display:none;position:relative;padding:4px 0 4px 56px;border:1px solid #eaeaea;background:#fff;width:1010px; margin-left:36px;}
.filter_options .panex .quyu_shangquan{padding:4px 0; float:left;}
.filter_options .panex .quyu_shangquan span{display:inline-block;margin:6px 16px 0 20px;background:#f86000;width:14px;height:14px;line-height:14px;text-align:center;color:#fff;font-weight:bold;}
.filter_options .panex .quyu_shangquan a{line-height:24px;margin-right:10px;white-space:nowrap;color:#333; white-space:nowrap;}
/*.filter_options .panex .quyu_shangquan a:hover{color:#f56140;}*/.filter_options .panex .quyu_shangquan a.bg{color:#fff;background:#f56140; padding:0 2px;}
.filter_options .panex .no_restrictions{position:absolute;top:12px;left:25px;}
.filter_options .panex .close_ch{position:absolute;top:-4px;right:0px;line-height:20px;}
.filter_options .panex .close_ch a{font-size:24px;color:#e2e2e2;}

.filter_select {position: relative;display: inline-block; padding-right:28px; *zoom: 1;*display: inline;height:30px;text-align: center;font-weight: normal;}
.filter_select .show{float: left; height:30px; overflow: hidden; padding:0 2px; font-size: 16px;text-align: left; line-height:30px; font-size:12px; color:#333;}
.filter_select em {    position: absolute;    top:13px;    right:14px;    width: 10px;    height: 6px;    background: url("arrow_drop-1.png"/*tpa=http://bj.maitian.cn/SKIN/img/arrow_drop.png*/) no-repeat;}
.filter_select_box{ padding:16px 0 0; margin:18px 0 0 0; border-top:1px solid #eaeaea; }
/***
	list-right***/
.list_right{width:1130px;}
.screening{padding-left:20px;height:38px;background:#f9f8f8;border:1px solid #eaeaea;margin: 30px 0 0 0;}
.screening ul li{position:relative;float:left;line-height:38px;font-size:14px;color:#555;height: 38px; }
.screening ul li a{display:inline-block;padding:0 21px;height:38px;color:#555;font:normal 14px/38px Microsoft YaHei;}
.screening ul li a:hover{padding:0 20px;height:39px;border:solid #eaeaea;border-width:0 1px;color:#f56140;}
.screening ul li a.bg:link,.screening ul li a.bg:hover,.screening ul li a.bg:visited,.screening ul li a.bg:active{background:#fff;padding:0 20px;height:39px;border:solid #eaeaea;border-width:0 1px;color:#f56140;}
.screening ul li a i{display:inline-block;margin:3px 0 0 5px;width:7px;height:8px;background-position:-488px -40px;vertical-align:middle;}
.screening ul li a i.up{background-position:-497px -40px;}
.screening p{float:right;padding-right:15px;color:#555;line-height:38px;}
.screening p span{margin:0 4px;color:#f50;}
.screening label{float:right;}
.screening label a.list{display:inline-block;width:42px;height:38px;background-position:-408px -144px;}
.screening label a.list_gay{display:inline-block;width:42px;height:38px;background-position:-456px -144px;}
.screening label a.map{display:inline-block;width:40px;height:38px;background-position:-504px -144px;}
.screening label a.map_gay{display:inline-block;width:40px;height:38px;background-position:-552px -144px;}

.filter_sel {position: absolute;top:30px;left: 0px;width: 100px;height: auto/*200px*/;border: 1px solid #ededed;box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);border-radius: 5px;background: #fff;z-index: 9999;display: none;overflow: hidden;}
.filter_sel ul li {display: block;height: 35px; line-height:35px;font-size: 14px;color: #666;overflow: hidden;text-align: left;background: #fff;cursor: pointer;}
/*.filter_sel ul li:hover,*/.filter_sel .active {background: #f78166;color: #fff;}
.filter_options .filter_sel ul li,.filter_options .filter_sel ul{ float:none; margin:0;}
.filter_options .filter_sel ul li a{ height:35px;line-height:35px; display:block;padding-left: 15px;}
.filter_options .filter_sel ul li a:hover{ background:none; color:#333;}
.filter_options .filter_sel ul li.active a,.filter_options .filter_sel ul li.active a:hover{color:#fff}
.nav-wrap ul li.city .filter_sel li.active:hover { background:#f78166;}
.esf-list-title {padding:30px 0 0;}
.esf-list-title.pd50 {padding:50px 0 0;}
.esf-list-title p{ font-size:16px; color:#333;}
.esf-list-title p span {margin: 0 2px;font-size:16px;color: #f50;}
.list_wrap{ margin-top:4px;}
.list_wrap ul li{position:relative;padding:30px 0; border-bottom:1px dotted #ddd;overflow:hidden;}
.list_wrap ul li:hover{background:#edf4fb;}
.list_wrap ul li img{float:left;width:220px;height:162px;}
.list_wrap ul li .sold{position:absolute;top:30px;left:0;display:inline-block;width:76px;height:75px;background-position:-648px -416px;}
.list_wrap ul li .no_vain{position:absolute;top:30px;left:0;display:inline-block;width:76px;height:75px;background-position:-744px -416px;}
.list_wrap ul li .hide_border{display:none;}
.list_wrap ul li:hover .hide_border{display:block;position:absolute;top:34px;left:5px;}
.list_wrap ul li:hover .hide_border a{display:inline-block;width:208px;height:152px;border:1px solid #fff; }
.list_wrap ul li:hover .hide_border a label{position:absolute;top:129px;display:inline-block;padding:0 10px 0 5px;line-height:24px;color:#fff;background:#f56140;border-top-right-radius:50px;border-bottom-right-radius:50px}
.list_wrap ul li .list_title{float:left;padding-left:30px;width:625px;}
.list_wrap ul li .list_title h1{width:100%;line-height:20px;}
.list_wrap ul li .list_title h1 a{font-size:20px;color:#333;font-weight:normal;}
.list_wrap ul li .list_title h1 a:hover{color:#0074e4;}
.list_wrap ul li .list_title h1 span{color:#666;margin-left:10px;font:normal 12px Microsoft YaHei;}
.list_wrap ul li .list_title p{font-size:16px;line-height:36px;}
/*.list_wrap ul li .list_title p { width: 500px;font-size: 14px;color: #666;line-height: 46px;}
.list_wrap ul li .list_title p span {padding-left: 2px; font-size: 18px; color: #333;}*/
.list_wrap ul li .list_title p.house_info{color:#333; margin-top:6px;}
.list_wrap ul li .list_title p.house_info span{padding-left:10px;font-size:16px;}
.list_wrap ul li .list_title p.house_hot{ color:#999;}
.list_wrap ul li .list_title p.house_hot span,.list_wrap ul li .list_title p.house_hot em{font-size:16px;}



.list_wrap ul li .list_title .house_num strong a,.list_wrap ul li .list_title .the_price strong{color:#f40;font:bold 14px Microsoft YaHei; display: block;}
.list_wrap ul li .list_title .the_price strong i.up{ width: 11px; height: 12px; margin:0px 0 0 4px; background: url("arrow_up3.png"/*tpa=http://bj.maitian.cn/SKIN/img/arrow_up3.png*/);}
.list_wrap ul li .list_title .the_price strong i.down{ width: 11px; height: 12px; margin:0px 0 0 4px; background: url("arrow_down3.png"/*tpa=http://bj.maitian.cn/SKIN/img/arrow_down3.png*/);}
.list_wrap ul li .list_title .the_price strong span{padding-right:5px;font-size:20px;}
.list_wrap ul li .list_title .the_price{position:absolute;right:0;top:80px;margin-top:-7px;width:136px; text-align:center;font:normal 12px Microsoft YaHei;color:#999;line-height:20px;}
/* 学区房 */
.list_xuequ ul li .list_title .the_price{right:200px;}

.list_xuequ ul li .list_title p.house_info span,.list_xuequ ul li .list_title p.house_hot span{ padding:0; display:block;}
.list_xuequ ul li .list_title p.house_hot span,.list_xuequ ul li .list_title p.house_hot span a{ line-height:32px; font-size:14px; color:#999;}

.list_wrap ul li .list_title .the_area{position:absolute;right:170px;top:80px;margin-top:-7px;width:100px; text-align:center;font:normal 12px Microsoft YaHei;color:#999;line-height:20px;}
.list_wrap ul li .list_title .the_area strong{color:#666;font:bold 14px Microsoft YaHei; font-weight: normal;}
.list_wrap ul li .list_title .the_area strong span{padding-right:5px;font-size:20px;}
.list_wrap ul li .list_title dl{width:580px;}
.list_wrap ul li .list_title dl dd{width:100%;color:#333;}
/* 房源标签  北京开始 */
.list_wrap ul li .list_title dl dd label{float:left;display:inline-block;margin-bottom:10px;margin-right:7px;padding-right:4px;border-radius:3px;background:#f2fff8;}
.list_wrap ul li .list_title dl dd label i{display:inline-block;margin:0 4px 0 0;width:31px;height:24px;vertical-align:middle;}
.list_wrap ul li .list_title dl dd label span{line-height:24px;vertical-align:middle;}
.list_wrap ul li .list_title dl dd label.blue{border:1px solid #b5c6e9;color:#789cfc;}
.list_wrap ul li .list_title dl dd label.blue i{background-position:0 -72px;}
.list_wrap ul li .list_title dl dd label.green{border:1px solid #86c7a2;color:#39ac6a;}
.list_wrap ul li .list_title dl dd label.green i{background-position:-56px -72px;}
.list_wrap ul li .list_title dl dd label.yellow{border:1px solid #e7ca90;color:#d8a634;}
.list_wrap ul li .list_title dl dd label.yellow i{background-position:-112px -72px;}
.list_wrap ul li .list_title dl dd label.red{border:1px solid #e66e43;color:#e06032;}
.list_wrap ul li .list_title dl dd label.red i{background-position:-168px -72px;}

.list_wrap ul li .list_title dl dd label.depreciate{border:1px solid #e66e43;color:#e06032;}
.list_wrap ul li .list_title dl dd label.depreciate i{background-position:-272px -72px;}
.list_wrap ul li .list_title dl dd label.sole{border:1px solid #36c77b;color:#36c77b;}
.list_wrap ul li .list_title dl dd label.sole i{background-position:-312px -72px;}
/*.list_wrap ul li .list_title dl dd label.alone{border:1px solid #4a9ffe;color:#4a9ffe;}*/
.list_wrap ul li .list_title dl dd label.alone {border: 1px solid #ff9900;color: #ff9900;}
.list_wrap ul li .list_title dl dd label.alone i{background-position:-352px -72px;}

.list_wrap ul li .list_title dl dd label.terrace{border:1px solid #f0869b;color:#f0869b;}
.list_wrap ul li .list_title dl dd label.terrace i{background-position:-272px -104px;}
.list_wrap ul li .list_title dl dd label.window{border:1px solid #7488bb;color:#7488bb;}
.list_wrap ul li .list_title dl dd label.window i{background-position:-312px -104px;}
.list_wrap ul li .list_title dl dd label.carport{border:1px solid #5ca8c2;color:#4a93ac;}
.list_wrap ul li .list_title dl dd label.carport i{background-position:-352px -104px;}
.list_wrap ul li .list_title dl dd label.cheap{border:1px solid #83de9b;color:#69cd84;}
.list_wrap ul li .list_title dl dd label.cheap i{background-position:-352px -136px;}
/* 房源标签  北京结束 */



.list_wrap ul li .list_title dl dd.line{padding-top:17px;color:#333;}
.list_wrap ul li .list_title dl dd.line i{display:inline-block;margin:-3px 10px 0 0;width:14px;height:16px;background-position:-520px -344px;vertical-align:middle;}

.range_map{position:relative;min-height:1px;}
.range_map:hover ul{padding:0;border:solid #fff;border-width:1px 0 1px 1px;border-right:1px solid #fff;}
.range_map ul{padding:1px;min-height:1px;z-index:2; width:1028px;}
.range_map ul li{float:left;cursor:pointer;}
.range_map .panes{display:none;}
/*.range_map:hover .panes{display:block;}*/
.range_map .pane{display:none;position:absolute;top:0;*+top:11px;left:318px;padding:0 0 10px 50px;min-height:240px;border:1px solid #f86000;z-index:1;background:#fff;}
.range_map .pane dl dt{margin:10px 0;width:58px;text-align:center;background:#b02c28;font-size:14px;color:#fff;}
.range_map .pane ol li{float:left;width:123px;border-left:2px solid #d9d9d9;}
.range_map .pane ol li em{display:inline-block;width:123px;line-height:12px;padding-bottom:12px;*+padding-bottom:7px;}
.range_map .pane ol li a i{display:inline-block;margin-right:10px;width:10px;height:10px;background-position:-496px -344px;*+vertical-align:middle;}
.range_map .pane ol li a{display:inline-block;color:#555;position:relative;left:-6px;top:-3px;line-height:12px;}
.range_map .pane ol li a:hover{color:#0074e4;}
.range_map .pane ol li a:hover i{background-position:-480px -344px;}
.range_map .pane ol li a.bg{color:#0074e4;}
.range_map .pane ol li a.bg i{background-position:-480px -344px;}
.range_map .pane .no_restrictions{position:absolute;top:12px;left:15px;}
.range_map .pane .close_ch{position:absolute;top:0;right:3px;line-height:20px;}
.range_map .pane .close_ch a{font-size:24px;color:#e2e2e2;}
.range_map .pane ol table tr td{vertical-align:top}
.range_map ul li.hit{color:#0074e4;}

.range_mapa{position:relative;min-height:26px;}
.range_mapa ul{position:absolute;height:40px;line-height:40px;margin-top:0;padding:1px 1px 1px 10px;min-height:1px;z-index:2;width:307px;}
.range_mapa:hover ul{padding:0 0 0 9px;border:solid #f86000;border-width:1px 0 1px 1px;border-right:1px solid #fff;width:308px;}
.range_mapa ul li{float:left;}
.range_mapa ul li a:link,.range_mapa ul li a:visited{display:inline-block;padding:0 2px;margin:0 8.5px;height:18px;line-height:18px;color:#333;}
.range_mapa ul li a:hover{background:#f56140;color:#fff;}
.range_mapa ul li a.bg{padding:0 2px;display:inline-block;background:#f56140;color:#fff;}
.range_mapa ul li a.no_xz{margin:0 4.5px;}

.revealbg{position:fixed;bottom:0;right:0;z-index:99;}
.close{position:absolute;top:0px;right:0px;display:inline-block;width:36px;height:36px;cursor:pointer;} 