@charset "utf-8";
/* esf_list CSS Document */
/* header */
html,body{ width:100%; height:100%;}
.map_frame .maitian-header{ height:60px; background:url("map_header_bg.png"/*tpa=http://bj.maitian.cn/Skin/img/map_header_bg.png*/);}
.map_frame .nav-wrap{ width:auto; height:60px; padding:0 20px;}
.map_frame .nav-wrap ul li.logo a{ padding:0px 20px 0 0;}
.map_frame .nav-wrap ul li,.map_frame .nav-wrap ul li a,.map_frame .nav-wrap ul li.header_select a.show{ height:60px; line-height:60px;}
.map_frame .nav-wrap ul li.header_select a.show{ padding-left:10px;}
.map_frame .filter_select{ padding-right:18px;}
.map_frame .nav-wrap ul li{ border-left:1px solid #dc5e42;}
.map_frame .nav-wrap ul li a{ padding:0 10px;}
.map_frame .header_select .filter_select em{ top:28px; right:8px;}
.map_frame .nav-wrap ul li.header_select .selectBox{ height:60px;}
.map_frame .nav-wrap ul li.header_select li,.map_frame .nav-wrap ul li.logo{ height:30px; line-height:30px;border-left:0;}
.search_box_noBorder input{ vertical-align:middle; border:none; background:none;}
.map_frame .search_box_noBorder{ padding:0 10px;border-left:0;}
.map_frame .nav-wrap ul li.search_box_noBorder:hover{ background:none;}
.map_frame .search_box_noBorder input.text{ color:#fff; height:14px; font-size:14px; line-height:14px; width:220px; /* 需求变更，地图页搜索框加边框 */    background:#c4533a; padding:8px 0 8px 8px; border-radius:15px;}
.map_frame .search_box_noBorder input.search_btn{ width:28px; height:28px; background:url("search_btn.png"/*tpa=http://bj.maitian.cn/Skin/img/search_btn.png*/) no-repeat; cursor:pointer;}
.map_frame .nav-wrap ul li.clearup_btn,.map_frame  .nav-wrap ul li.clearup_btn{ padding:0 0 0 10px; background:none;}
.map_frame .nav-wrap ul li.clearup_btn a{ padding-left:22px; background:url("clearup_btn.png"/*tpa=http://bj.maitian.cn/Skin/img/clearup_btn.png*/) left center no-repeat;}
.map_frame .maitian-header{ position:absolute; left:0; top:0; width:100%; z-index:5;}
.live_range{ width:412px; height:204px; position:absolute; top:60px; left:0; background:url("list_left_tab-1.png"/*tpa=http://bj.maitian.cn/Skin/img/list_left_tab.png*/); border-radius:4px; box-shadow:0 0 3px #999; display:none;}
.live_range ul{ padding:19px 0 0 19px;}
.live_range ul li{ height:31px; padding-bottom:20px; line-height:31px; float:none; text-align:left;}
.live_range ul li span{ font-size:16px; color:#333; display:inline-block; width:90px; vertical-align:middle;}
.live_range ul li .placeholder{ border:1px solid #e8e8e8; padding:6px 8px; font-size:16px;height:17px; line-height:17px; border-radius:3px; color:#999; width:263px;}
.use_time{ position:relative;}
.use_time cite{ position:absolute; color:#333; font-size:16px; left:332px; font-style:normal;}
.live_way label{ border:1px solid #e8e8e8; border-radius:6px;display:inline-block;height:29px; overflow:hidden; vertical-align:middle;}
.live_way label b{ font-weight:normal; display:inline-block; width:92px; height:29px; text-align:center; line-height:29px; color:#666; font-size:16px; cursor:pointer; background:#fff;}
.live_way label b.active,.live_way label b:hover{ color:#fff; background:#f56140;}
.live_way label b.bor_l_r{border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8;}
.live_way{   font-size:16px;color:#333; }
.live_range p{ border-radius:0 0 5px 5px; height:35px; line-height:35px; overflow:hidden;}
.live_range p button{ width:100%; height:100%; text-align:center; background:#e8e8e8; color:#999; font-size:16px; border:0; cursor:pointer; padding:0;}
/*.live_range p button:hover,*/.live_range p button.active{background:#f56140; color:#fff;}
.more_tj{ position:relative; padding-right:10px;}
.more_tj em{ background:url("arrow_drop2-1.png"/*tpa=http://bj.maitian.cn/Skin/img/arrow_drop2.png*/) no-repeat; height: 6px; position: absolute; width: 10px;top:28px; right:8px;}
.more_tj .more_tj_box{ display:none;}
.more_tj_box{ position:absolute; left:0; top:60px; width:112px; background:url("list_left_tab-1.png"/*tpa=http://bj.maitian.cn/Skin/img/list_left_tab.png*/); border-top:1px solid #e8e8e8; border-right:1px solid #e8e8e8; border-radius:3px; box-shadow:0 0 3px #999;}
.map_frame .nav-wrap ul li.header_select .more_tj_ul .more_tj_li{ width:100px; height:34px; line-height:34px; position:relative; border-left:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8;}
.map_frame .nav-wrap ul li.header_select .more_tj_ul .more_tj_li a{ font-size: 16px;}
.map_frame .nav-wrap ul li.header_select .more_tj_ul .more_tj_li a:hover { background:none; }
.map_frame .nav-wrap ul li.more_tj_li a.show{color:#333; height:34px; padding:0 0 0 9px; line-height:34px;}
.map_frame .nav-wrap ul .more_tj_li, .map_frame .nav-wrap ul .more_tj_li a{ color:#333; font-size:16px; height:34px; padding:0 0 0 9px; line-height:34px;}
.map_frame .nav-wrap ul li.header_select .more_tj_ul .more_tj_li em{ position:absolute; right:8px; top:14px;background:url("arrow_drop-2.png"/*tpa=http://bj.maitian.cn/Skin/img/arrow_drop.png*/) no-repeat;}
.header_select .more_tj_ul .filter_select .filter_sel{ top:32px; left:50px;}
.map_frame .nav-wrap ul .more_tj_li li{ height:30px;}
.map_frame .nav-wrap ul .more_tj_li li a{ padding:0; line-height:30px;}


/* 地图样式 */
.esf_map{ position:absolute; left:0; top:0; width:100%; height:100%; z-index:1;}
/* 左侧内容 */
.esf_list{position:relative;margin:0 auto;width:1190px;z-index:2;}
.dropdown{float:left;position:relative;display:inline-block;margin:0 16px 0 -6px;padding:0 5px 0 15px;height:28px;line-height:28px;border:1px solid #eaeaea;border-radius:4px;background:#fff;left:6px;cursor:pointer;z-index:12;}
.dropdown kbd{font:normal 12px Microsoft YaHei;color:#555;}
.dropdown i{display:inline-block;margin-left:21px;width:11px;height:7px;background-position:-512px -320px;vertical-align:middle}
.dropdown1{display:none;}
.dropdown:hover .dropdown1{display:block;position:absolute;top:27px;left:-1px;margin:0;width:auto;min-width:80px;background:#fff;border:1px solid #eaeaea;}
.dropdown:hover .dropdown1 ol li{white-space:nowrap;width:100%;padding-right:15px;}
.dropdown:hover .dropdown1 ol li a{display:inline-block;width:100%;color:#555;}
.dropdown:hover .dropdown1 ol li a:hover{background:#f9f9f9;}
.dropdown:hover .dropdown1 ol li a samp{display:inline-block;width:15px;}

.dropdown2{display:none;}
.dropdown:hover .dropdown2{display:block;position:absolute;top:28px;left:-1px;margin:0;width:auto;width:259px;background:#fff;border:1px solid #eaeaea;cursor:default;padding-left:5px;}
.dropdown:hover .dropdown2 ol li{padding:5px;}
.dropdown:hover .dropdown2 input.font{width:140px;height:20px;line-height:20px;border:1px solid #f9f9f9;margin-right:10px;padding:0 5px;}
.dropdown:hover .dropdown2 input.font1{width:103px;height:20px;line-height:20px;border:1px solid #f9f9f9;margin-right:10px;padding:0 5px;}
.dropdown:hover .dropdown2 input.round{margin:0 5px;*margin:0;}
.dropdown:hover .dropdown2 input.round1{margin-right:5px;*margin:0;}
.dropdown:hover .dropdown2 ol li.but{text-align:right;padding-right:13px;}
.dropdown:hover .dropdown2 ol li.but input{margin-left:10px;width:50px;height:24px;border:none;background:#f60;color:#fff;cursor:pointer;border-radius:5px;}
.dropdown:hover .dropdown2 ol li.but input.qx{color:#333;background:#f1f1f1;}

.map_frame{margin:0 auto;min-width:1190px;overflow:hidden;position:relative;height:100%;}

.esf_map{position:relative;height:100%;margin:0 auto;min-width:1190px;}
.list_map{width:100%;height:100%;background:#ccc; float:right;}

.list_left{position:absolute;top:60px;bottom:0;left:0;width:420px;height:100%;z-index:1;overflow-y:auto;overflow-x:hidden;background:url("list_left_tab-1.png"/*tpa=http://bj.maitian.cn/Skin/img/list_left_tab.png*/); box-shadow:0 0 3px #999;}
.list_left_tab{ padding:10px 20px; height:35px; line-height:35px;}
.list_left_tab .list_left_tab_cont{ border:1px solid #cfcfcf; border-left:0; height:35px; line-height:35px; padding:0;}
.list_left_tab .list_left_tab_cont a{ display:inline-block; width:73px; height:35px; text-align:center; color:#c5c6c6; font-size:14px; line-height:35px; border-left:1px solid #cfcfcf;}
.list_left_tab strong{ font-size:14px; color:#999;}
.list_left_tab strong a{ padding:0 6px; font-size:14px;}
.list_left_tab .list_left_tab_cont a.active,.list_left_tab .list_left_tab_cont a:hover{ background:#f6775b; color:#fff;}
.screening{height:38px;border:1px solid #eaeaea;z-index:5;}
.screening ul li{position:relative;float:left;line-height:38px;font-size:14px;color:#555;}
.screening ul li a{display:inline-block;padding:0 21px;height:38px;color:#555;font:normal 14px/38px Microsoft YaHei;}
.screening ul li a.widther{ padding:0 40px;}
.screening ul li a.widther:hover{ padding:0 39px;}
.screening ul li a.last:hover,.screening ul li a.last{ padding-right:0; border-right:0;}
.screening ul li a:hover{padding:0 20px;height:39px;border:solid #eaeaea;border-width:0 1px;color:#f56949;}
.screening ul li a.bg:link,.screening ul li a.bg:hover,.screening ul li a.bg:visited,.screening ul li a.bg:active{background:#fff;padding:0 20px;height:39px;border:solid #eaeaea;border-width:0 1px;color:#f56949;}
.screening ul li a i{display:inline-block;margin:3px 0 0 5px;width:7px;height:8px;background-position:-488px -40px;vertical-align:middle;}
.screening ul li a i.up{background-position:-497px -40px;}
.screening p{float:right;padding-right:15px;color:#555;line-height:38px;}
.screening p span{margin:0 4px;color:#f50;}
.screening label{float:right;}
.screening label a.list{display:inline-block;width:42px;height:38px;background-position:-408px -144px;}
.screening label a.list_gay{display:inline-block;width:42px;height:38px;background-position:-456px -144px;}
.screening label a.map{display:inline-block;width:40px;height:38px;background-position:-504px -144px;}
.screening label a.map_gay{display:inline-block;width:40px;height:38px;background-position:-552px -144px;}
.quyuPrice{ height:44px; padding:18px 20px; border-bottom:1px solid #e8e8e8; color:#a0a0a0; font-size:14px; text-align:center; line-height:22px;}
.quyuPrice .quyuName a{ font-size:20px; color:#333;}
.quyuPrice .quyuPriceCont a{ color:#f56140; font-size:16px;}
.quyuPrice .quyuPriceCont span{ color:#666;}

.maitian-header .filter_select{ height:60px;}
.list_left .filter_sel{ width:100%; top:175px;}
.list_left .filter_sel ul.map_ico_left li { cursor:default;}
.list_left .filter_sel ul li{ height:auto;}
.list_left .filter_sel ul li{position:relative;padding:20px 20px 10px;background:url("border_line.png"/*tpa=http://bj.maitian.cn/Skin/img/border_line.png*/) repeat-x bottom;min-height:1px;}
.list_left .filter_sel ul li:hover{background:#edf4fb;}
.list_left .filter_sel ul li img{float:left;width:142px;height:106px;}
.list_left .filter_sel ul li .hide_border{display:none;}
.list_left .filter_sel ul li:hover .hide_border{display:block;position:absolute;top:24px;left:25px;}
.list_left .filter_sel ul li:hover .hide_border a{display:inline-block;width:130px;height:96px;border:1px solid #fff; }
.list_left .filter_sel ul li:hover .hide_border a label{position:absolute;top:73px;display:inline-block;padding:0 10px 0 5px;line-height:24px;color:#fff;background:#f6775b;border-top-right-radius:50px;border-bottom-right-radius:50px}
.list_left .filter_sel ul li .list_title{float:left;padding-left:10px;width:227px;}
.list_left .filter_sel ul li .list_title h1{line-height:24px; margin:-6px 0 0px;}
.list_left .filter_sel ul li .list_title h1 a{font-size:14px;color:#333;font-weight:normal;line-height:24px;}
.list_left .filter_sel ul li .list_title h1 a:hover{color:#0074e4;}
.list_left .filter_sel ul li .list_title p{font-size:12px;color:#666;line-height:22px;}
.list_left .filter_sel ul li .list_title p span{font-size:12px;}
.list_left .filter_sel ul li:hover .list_title p i{background-position:0 -80px;}
.list_left .filter_sel ul li .list_title p span.the_price{ color:#999;}
.list_left .filter_sel ul li .list_title p span.the_price strong,.list_wrap ul li .list_title p span.the_price strong em{font:normal 16px Microsoft YaHei;color:#f56140;}
.list_left .filter_sel ul li .list_title .the_price strong span{color:#f40;font:bold 16px Microsoft YaHei;}

.list_wrap ul li{position:relative;padding:20px;background:url("border_line.png"/*tpa=http://bj.maitian.cn/Skin/img/border_line.png*/) repeat-x bottom;min-height:1px;}
.list_wrap ul li:hover{background:#edf4fb;}
.list_wrap ul li img{float:left;width:142px;height:106px;}
.list_wrap ul li .hide_border{display:none;}
.list_wrap ul li:hover .hide_border{display:block;position:absolute;top:24px;left:25px;}
.list_wrap ul li:hover .hide_border a{display:inline-block;width:130px;height:96px;border:1px solid #fff; }
.list_wrap ul li:hover .hide_border a label{position:absolute;top:73px;display:inline-block;padding:0 10px 0 5px;line-height:24px;color:#fff;background:#f6775b;border-top-right-radius:50px;border-bottom-right-radius:50px}
.list_wrap ul li .list_title{float:left;padding-left:10px;width:227px;}
.list_wrap ul li .list_title h1{line-height:24px; margin:-6px 0 0px;}
.list_wrap ul li .list_title h1 a{font-size:18px;color:#333;font-weight:normal;}
.list_wrap ul li .list_title h1 a:hover{color:#0074e4;}
.list_wrap ul li .list_title p{font-size:14px;color:#666;line-height:22px;}
.list_wrap ul li .list_title p span{font-size:14px;}
.list_wrap ul li:hover .list_title p i{background-position:0 -80px;}
.list_wrap ul li .list_title p span.the_price{ color:#999;}
.list_wrap ul li .list_title p span.the_price strong,.list_wrap ul li .list_title p span.the_price strong em{font:normal 18px Microsoft YaHei;color:#f56140;}
.list_wrap ul li .list_title .the_price strong span{color:#f40;font:bold 16px Microsoft YaHei;}



/* 房源标签 */
.morel mark{ height:17px; line-height:17px; padding: 0 3px; border-radius:2px; margin:10px 0 0 0; font-size:12px;}
.morel mark.blue{ border:1px solid #a0b6ca; color:#a0b6ca;}
.morel mark.green{ border:1px solid #8cdcb2; color:#8cdcb2;}
.morel mark.red{ border:1px solid #ffada2; color:#ffada2;}


/* 左侧隐藏按钮 */
.indent_btn{ width:15px; height:70px; position:absolute; top:50%; left:420px; margin-top:15px; border-radius:0 4px 4px 0; background:url("list_left_tab-1.png"/*tpa=http://bj.maitian.cn/Skin/img/list_left_tab.png*/); z-index:6; box-shadow:2px 0 2px #999;}
.indent_btn em{ display:block; height:100%; background:url("indent_btn.png"/*tpa=http://bj.maitian.cn/Skin/img/indent_btn.png*/) left center no-repeat;}
.indent_btn em.right{ background-position:-15px center;}

/***租房生活圈****/
.list_wrapa ul li{position:relative;padding:20px 0;background:url("border_line.png"/*tpa=http://bj.maitian.cn/Skin/img/border_line.png*/) repeat-x bottom;min-height:1px;}
.list_wrapa ul li:hover{background:#feeadc;}
.list_wrapa ul li img{float:left;width:142px;height:106px;}
.list_wrapa ul li .hide_border{display:none;}
.list_wrapa ul li:hover .hide_border{display:block;position:absolute;top:24px;left:5px;}
.list_wrapa ul li:hover .hide_border a{display:inline-block;width:130px;height:96px;border:1px solid #fff; }
.list_wrapa ul li:hover .hide_border a label{position:absolute;top:73px;display:inline-block;padding:0 10px 0 5px;line-height:24px;color:#fff;background:#52c384;border-top-right-radius:50px;border-bottom-right-radius:50px}

.list_wrapa ul li .new{position:absolute;top:1px;left:-8px;width:45px;height:67px;background-position:-416px -464px;}
.list_wrapa ul li .list_title{float:left;padding-left:30px;width:70%;}
.list_wrapa ul li .list_title h1{width:100%;line-height:20px;}
.list_wrapa ul li .list_title h1 a{font-size:18px;color:#333;font-weight:normal;}
.list_wrapa ul li .list_title h1 a:hover{color:#0074e4;}
.list_wrapa ul li .list_title h1 i{display:inline-block;margin-left:8px;width:13px;height:18px;background-position:-736px -104px;vertical-align:middle;}
.list_wrapa ul li .list_title p{width:500px;font-size:14px;color:#555;line-height:40px;}
.list_wrapa ul li .list_title p.short{line-height:20px;}
.list_wrapa ul li .list_title p span{padding-left:2px;font-size:18px;}
.list_wrapa ul li .list_title p label{color:#555;padding:0 5px;}
.list_wrapa ul li .list_title p kbd{display:inline-block;margin:-1px 6px 0;width:13px;height:18px;background-position:-566px -344px;vertical-align:middle}
.list_wrapa ul li:hover .list_title p i{background-position:0 -80px;}
.list_wrapa ul li .list_title .the_price{position:absolute;right:1%;top:40px;margin-top:-7px;text-align:right;font:normal 12px Microsoft YaHei;color:#888;line-height:20px;}
.list_wrapa ul li .list_title .the_price strong{position:relative;color:#f40;font:bold 14px Microsoft YaHei;}
.list_wrapa ul li .list_title .the_price strong span{padding-right:5px;font-size:28px;}
.list_wrapa ul li .list_title .the_price strong label{position:absolute;top:-9px;left:-12px;font-size:14px;}

.list_wrapa ul li .list_title dl dd{width:100%;}
.list_wrap ul li .list_title dl dd.morel{padding-top:0px;}
.list_wrap ul li .list_title dl dd kbd{float:left;display:inline-block;margin-right:3px;width:20px;height:20px;position: relative;cursor:pointer;}
.list_wrap ul li .list_title dl dd kbd.wifi{background-position:-480px -408px;}
.list_wrap ul li .list_title dl dd kbd.desk{background-position:-503px -408px;}
.list_wrap ul li .list_title dl dd kbd.water{background-position:-526px -408px;}
.list_wrap ul li .list_title dl dd kbd.TV{background-position:-549px -408px;}
.list_wrap ul li .list_title dl dd kbd.washing{background-position:-572px -408px;}
.list_wrap ul li .list_title dl dd kbd.refrigerator{background-position:-595px -408px;}

.list_wrap ul li .list_title dl dd kbd.air_condition{background-position:-480px -432px;}
.list_wrap ul li .list_title dl dd kbd.sofa{background-position:-503px -432px;}
.list_wrap ul li .list_title dl dd kbd.bed{background-position:-526px -432px;}
.list_wrap ul li .list_title dl dd kbd.chest{background-position:-549px -432px;}
.list_wrap ul li .list_title dl dd kbd.dining_table{background-position:-572px -432px;}
.list_wrap ul li .list_title dl dd kbd.car{background-position:-595px -432px;}
.list_wrap ul li .list_title dl dd kbd.bowl{background-position:-480px -456px;}
.list_wrap ul li .list_title dl dd kbd.end_table{background-position:-503px -456px;}
.list_wrap ul li .list_title dl dd kbd.oven{background-position:-526px -456px;}


.list_wrap ul li .list_title dl dd.line{padding-top:17px;}
.list_wrap ul li .list_title dl dd.line i{display:inline-block;margin:-3px 10px 0 0;width:14px;height:16px;background-position:-520px -344px;vertical-align: middle;}
.list_wrap ul li .list_title dl dd label{float:left;margin-right:5px;padding:0 7px;display:inline-block;height:18px;line-height:18px;border:1px solid #7bb1eb;color:#7bb1eb;}


.list_wrap ul li .list_title dl dd kbd samp{display:none;}
.list_wrap ul li .list_title dl dd kbd:hover samp{position:absolute;/*top:-21px;left:-8px;*/border:1px solid #7bb1eb;color:#7bb1eb;display:inline-block;height:18px;line-height:18px;padding:0 5px;background:#fff;width:24px;z-index:9;text-align:center;}
.list_wrap ul li .list_title dl dd kbd:hover samp.three{width:38px;top:-21px;left:-15px;}
.list_wrap ul li .list_title dl dd kbd:hover samp.one{width:11px;left:-2px;}


/***小区生活圈****/
.list_wrapb ul li{position:relative;padding:20px 0;background:url("border_line.png"/*tpa=http://bj.maitian.cn/Skin/img/border_line.png*/) repeat-x bottom;min-height:1px;}
.list_wrapb ul li:hover{background:#edf4fb;}
.list_wrapb ul li img{float:left;width:142px;height:106px;}
.list_wrapb ul li .hide_border{display:none;}
.list_wrapb ul li:hover .hide_border{display:block;position:absolute;top:24px;left:5px;}
.list_wrapb ul li:hover .hide_border a{display:inline-block;width:130px;height:96px;border:1px solid #fff; }
.list_wrapb ul li:hover .hide_border a label{position:absolute;top:73px;display:inline-block;padding:0 10px 0 5px;line-height:24px;color:#fff;background:#52c384;border-top-right-radius:50px;border-bottom-right-radius:50px}
.list_wrapb ul li .list_title{float:left;padding-left:30px;width:70%;}
.list_wrapb ul li .list_title h1{width:100%;line-height:20px;padding-bottom:4px;}
.list_wrapb ul li .list_title h1 span a{font-size:14px;}
.list_wrapb ul li .list_title h1 a{font-size:18px;color:#333;font-weight:normal;}
.list_wrapb ul li .list_title h1 a:hover{color:#0074e4;}
.list_wrapb ul li .list_title p{width:500px;font-size:14px;color:#555;line-height:24px;height:53px;}
.list_wrapb ul li .list_title p span{padding:0 8px;}
.list_wrapb ul li .list_title p a{font-weight:bold;}
.list_wrapb ul li .list_title dl dd{width:100%;}
.list_wrapb ul li .list_title dl dd label{float:left;display:inline-block;margin-right:7px;padding-right:4px;border-radius:3px;background:#f2fff8;}
.list_wrapb ul li .list_title dl dd label i{display:inline-block;margin:0 4px 0 0;width:31px;height:24px;vertical-align:middle;}
.list_wrapb ul li .list_title dl dd label span{line-height:24px;vertical-align:middle;}
.list_wrapb ul li .list_title dl dd label.green{border:1px solid #86c7a2;color:#39ac6a;}
.list_wrapb ul li .list_title dl dd label.green i{background-position:-56px -72px;}
.list_wrapb ul li .three_title{position:absolute;top:40px;right:0;}
.list_wrapb ul li .three_title dl dd{float:left;padding:0 10px;width:100px;font-size:14px;text-align:center;color:#888;line-height:28px;}
.list_wrapb ul li .three_title dl dd.none{padding-right:0;}
.list_wrapb ul li .three_title dl dd label{font-size:14px;color:#f40;}
.list_wrapb ul li .three_title dl dd span{font-size:14px;color:#f40;}
.list_wrapb ul li .three_title dl dd.bargain label{color:#555;}
.list_wrapb ul li .three_title dl dd.bargain span{color:#555;}
.list_wrapb ul li .three_title dl dd.green label{color:#00b958;}
.list_wrapb ul li .three_title dl dd.green span{color:#00b958;}
.list_wrapb ul li .three_title dl dd.red label{color:#fb0000;}
.list_wrapb ul li .three_title dl dd.red span{color:#fb0000;}
.list_wrapb ul li .three_title dl dd.bargain{width:100px;}
.list_wrapb ul li .three_title dl dd.green,.list_wrap ul li .three_title dl dd.red{width:100px;}

/* 北京特殊样式 */
.map_frame .bj_map_header .nav-wrap ul li.clearup_btn{ border-left:0;}
.map_frame .nav-wrap ul li.clearup_btn, .map_frame .nav-wrap ul li.save_btn{padding-left:10px;}
.map_frame .nav-wrap ul li.clearup_btn span, .map_frame .nav-wrap ul li.save_btn span{ height:30px; line-height:30px; display:inline-block;background:#c4533a; padding:0 0 0 10px; border-radius:15px;}
.map_frame .nav-wrap ul li.clearup_btn a, .map_frame .nav-wrap ul li.save_btn a{ height:30px; line-height:30px;font-size:12px;}
.map_frame .nav-wrap ul li.save_btn:hover{ background:none;}
.map_frame .nav-wrap ul li.save_btn a{ padding-left:22px;  background:url("save_btn.png"/*tpa=http://bj.maitian.cn/Skin/img/save_btn.png*/) left center no-repeat;}

/*搜索框样式 */
#SearchTips li { height: 31px; line-height:31px;}
#SearchTips li a { line-height:31px;padding-left: 10px;color:#333;font-size:14px;}
#SearchTips li a span {font-size:14px; line-height:31px;}
#SearchTips li a span b{font-size:14px; }
#SearchTips li a .left {color:#333;}
#SearchTips li a .leftRegion {margin-left: 10px;color:#999;font-size: 12px;}
#SearchTips li a .right {color:#000;margin-left: 400px;}

.tangram-suggestion-main {
    position: absolute;top:50px;left:110px;z-index: 999;width:278px;border: 1px solid #ededed;box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);border-radius: 0 0 5px 5px;overflow: hidden;display: -none;
}

.morel label,.morel kbd{ margin-top:10px;}

/* 小图房源标签调整 */
.map_ico_left .vip-ico{background:url("vip_s.png"/*tpa=http://bj.maitian.cn/Skin/img/vip_s.png*/); height: 60px; left: 20px; position: absolute;top: 18px; width: 60px; z-index: 1;}
.list_wrap ul.map_ico_left li .new {background:url("new_s.png"/*tpa=http://bj.maitian.cn/Skin/img/new_s.png*/);  height: 67px; left: 11px; position: absolute; top: 1px; width: 60px;}
.list_wrap ul.map_ico_left li .sold{background:url("sale_s.png"/*tpa=http://bj.maitian.cn/Skin/img/sale_s.png*/); height: 60px; left: 20px; position: absolute;top: 19px; width: 60px; z-index: 1;}
.list_wrap ul.map_ico_left li .sold{background:url("wxhouse_s.png"/*tpa=http://bj.maitian.cn/Skin/img/wxhouse_s.png*/); height: 60px; left: 20px; position: absolute;top: 19px; width: 60px; z-index: 1;}


/* 地图搜索框联想列表样式 */
.map_frame .nav-wrap ul li.search_box_noBorder li {
    float:none;
    border-left:0;
}

.nav-wrap ul li a.searchBackgroud{ height:31px;}

/*隐藏地图版权信息*/
.BMap_cpyCtrl {
    display:none;
}
.BMapLib_sendToPhone {
    display:none;
}